@using MakaleProje.DTO
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    PagedList.IPagedList<MakaleDTO> makaleler = ViewBag.Makaleler;
}

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-dark rounded bg-light">
        <div class="col-md-6 px-0">
            <p class="lead my-3">"@ViewBag.Tag" için arama sonuçları</p>
        </div>
    </div>

    <div class="row mb-2">
        @foreach (MakaleDTO item in makaleler)
        {
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-550 position-relative" style="height: 350px">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">@item.KategoriAdi</strong>
                        <h3 class="mb-0">@item.MakaleBaslik</h3>
                        <div class="mb-1 text-muted">@item.CreatedDate</div>
                        <p class="card-text mb-auto">@item.MakaleMetni.Substring(0, 100)...</p>
                        <a href="@Url.Action("Makale", "Home",new {makaleId=item.MakaleID})" class="stretched-link">Okumaya devam et...</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">içerik resmi</text></svg>

                    </div>
                </div>
            </div>
        }

    </div>
    Sayfa @(makaleler.PageCount < makaleler.PageNumber ? 0 : makaleler.PageNumber) 
    @Html.PagedListPager((IPagedList)makaleler, page => Url.Action("Index", new { page }))
</main>

